*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.logo-image{
    position: relative;
}
h1{
    padding: 5%;
    font-size: 4rem;
}
h3{
  
   font-size: 2rem;
   display: inline-block;
   position: relative;
   top: 5rem;
   left: 5rem;
   
}
h4{
    padding-left: 3rem;
    padding-bottom: 2rem;
    font-size: 150%;
    width: 80%;
}

.main{
    max-width: 75%;
    margin-top: 10rem;
}
.img-logo{
    max-width: 30rem;
    max-height: 60rem;
    position: absolute;
    left: 70%;  
}
.under{
    max-width: 70rem;
    height: 30rem;
    background-color: #191826;
    position: relative;
    margin: 10% auto;
}
.bg-img{
    position: relative;
    left: 30%;
    max-width:17rem;
    max-height: 20rem;

}
.phone{
    max-width: 12.68rem;
    position: absolute;
    bottom: 30%;
    left: 17%;

}
.orange{
    max-width: 22rem;
    max-height: 32rem;
    background-color: #FA7453;
    position: absolute;
    text-align: center;
    color: white;
    top: 20%;
    left: 45%;
    border: none;
    border-radius: 5%;
}
.button1{
    background-color: #66E2DC;
    border-radius: 20%;
    border: none;
    padding: 3% 20%;
    display: block;
    margin: 30% auto;
    margin-bottom: 0;
    color: white;
    margin-top: 5%;
}
.button2{
    background-color: #FFB964;
    border-radius: 20%;
    border: none;
    padding: 3% 17%;
    display: block;
    margin: 20% auto;
    margin-top: 4%;
    color: white;
    margin-top: 2%;
}
.expert{
    font-size: 1rem;
    margin-bottom: 10%;
    
}
.premium{
    font-size: 1.5rem;
    padding: 10% 10%;
   
}
.month{
    font-size: 1.2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.foot{
    display: flex;
    gap: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px  black;
    border-style: double;
    width: 80%;
    margin: auto;
    border-bottom: none;
    border-left: none;
    border-right: none;
    
}